html { 
  font-family: 'Palanquin', sans-serif;
  font-size: 1rem;
}

.navbar {
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

#logo {
  margin-top: 5px;
  font-size: 30px;
}

#logo img {
  width: 32px;
}

.btn {
  margin-top: 7px;
}

.btn-warning {
  color: #ffffff !important;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  text-decoration: none;
}

#notesArea {
  margin-top: 54px;
  background: url(./../img/loggedbg.jpg); 
  opacity: 0.9;
  height: 100%;
  padding: 0;
}


.note {
  float: left;
  display: block;
  position: absolute;
  background-color: #FFFD75;
  z-index: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: box-shadow 200ms;
}

.note:hover {
  box-shadow: 2px 1px 6px 4px grey;
}

.note:hover {
  cursor: move;
}

.note.ui-draggable-dragging:nth-child(n) {
  z-index: 999;
  cursor: move;
}

.heading {
  color: #333;
  background-color: #f2f098;
  border-color: #ddd;
  padding: 0 5px;
  margin: 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: right;
}

.heading a {
  color: #000;
}

.heading img {
  width: 12px;
  height: 12px;
}

.note textarea {
  background-color: transparent;
  border: none;
  resize: both;
  font-family: "Gloria Hallelujah", cursive;
  /*width: 100%;*/
  padding: 5px;
}

.note textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset;
}

.hidden {
  display: none;
}
